openapi: 3.0.1
info:
  title: Metricbiz
  description: MetricBiz APIs definitions.
  version: 1.0.0
  license:
    name: MetricBiz
    url: https://app.metricbiz.com
servers:
  - url: https://app.metricbiz.com/v1
    description: Generated server url
security:
  - X-ApiKey-Auth: []
paths:
  /api/users/register:
    $ref: paths/api_users_register.yaml
  /api/users/logout:
    $ref: paths/api_users_logout.yaml
  /api/users/authenticate:
    $ref: paths/api_users_authenticate.yaml
  /api/key/refresh:
    $ref: paths/api_key_refresh.yaml
  /api/users/isAuthenticated:
    $ref: paths/api_users_isAuthenticated.yaml
  /api/users/id:
    $ref: paths/api_users_id.yaml
  /api/subscription/creditProfile:
    $ref: paths/api_subscription_creditProfile.yaml
  /api/locations/{postalCode}/getCityDetailsByPostalCode:
    $ref: paths/api_locations_{postalCode}_getCityDetailsByPostalCode.yaml
  /api/locations/{county}/getAllLocations:
    $ref: paths/api_locations_{county}_getAllLocations.yaml
  /api/locations/getCounties:
    $ref: paths/api_locations_getCounties.yaml
  /api/key/findByUserName:
    $ref: paths/api_key_findByUserName.yaml
  /api/currency/list:
    $ref: paths/api_currency_list.yaml
  /api/company/{cui}:
    $ref: paths/api_company_{cui}.yaml
  /api/company/{cui}/risk/compute:
    $ref: paths/api_company_{cui}_risk_compute.yaml
  /api/company/{cui}/financial/indicators:
    $ref: paths/api_company_{cui}_financial_indicators.yaml
  /api/company/{cui}/financial/indicators/summary:
    $ref: paths/api_company_{cui}_financial_indicators_summary.yaml
  /api/company/{cui}/financial/indicators/profitability:
    $ref: paths/api_company_{cui}_financial_indicators_profitability.yaml
  /api/company/{cui}/financial/indicators/numeralFlux:
    $ref: paths/api_company_{cui}_financial_indicators_numeralFlux.yaml
  /api/company/{cui}/financial/indicators/liquidity:
    $ref: paths/api_company_{cui}_financial_indicators_liquidity.yaml
  /api/company/{cui}/financial/indicators/investment:
    $ref: paths/api_company_{cui}_financial_indicators_investment.yaml
  /api/company/{cui}/financial/indicators/goingConcern:
    $ref: paths/api_company_{cui}_financial_indicators_goingConcern.yaml
  /api/company/{cui}/financial/indicators/competitive:
    $ref: paths/api_company_{cui}_financial_indicators_competitive.yaml
  /api/company/{cui}/financial/indicators/chart:
    $ref: paths/api_company_{cui}_financial_indicators_chart.yaml
  /api/company/{cui}/financial/indicators/activityFinance:
    $ref: paths/api_company_{cui}_financial_indicators_activityFinance.yaml
  /api/company/sector/{caen}/top:
    $ref: paths/api_company_sector_{caen}_top.yaml
  /api/company/sector/{caen}/distribution:
    $ref: paths/api_company_sector_{caen}_distribution.yaml
  /api/company/sector/{caen}/average:
    $ref: paths/api_company_sector_{caen}_average.yaml
  /api/company/search:
    $ref: paths/api_company_search.yaml
  /api/company/find:
    $ref: paths/api_company_find.yaml
  /api/company/filter:
    $ref: paths/api_company_filter.yaml
  /api/company/bankrupt/stats:
    $ref: paths/api_company_bankrupt_stats.yaml
  /api/company/bankrupt/activeYears:
    $ref: paths/api_company_bankrupt_activeYears.yaml
components:
  securitySchemes:
    X-ApiKey-Auth:
      type: apiKey
      name: X-ApiKey-Auth
      in: header
